accelerate>=0.16.0
bitsandbytes
click
datasets
datasets
diffusers
dvc==3.50.1
dvc[gs]
ftfy
hydra-core
Jinja2
Kaggle==1.6.14
numpy<2
pre-commit
pytest
pytorch_lightning
tensorboard
torch
torchvision
torchvision
tqdm
transformers>=4.25.1
wandb
xformers
